.cursor-pointer {
  cursor: pointer;
}

.modal {
  .modal-body {
    padding: 60px 0;
  }

  .modal__title {
    margin-bottom: 80px;
    color: #090909;
    font-weight: bold;
    font-size: 40px;
    line-height: 46px;
  }

  input {
    border: none;
    background: #F1F1F1;
    border-radius: 10px;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.05em;
    padding: 15px 24px;
    width: 100%;
    max-width: 400px;
    color: #A2004B;

    &::placeholder {
      color: #A2004B;
    }

    &:focus-visible{
      outline: 0;
    }
  }

  button {
    background: #A2004B;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.05em;
    width: 100%;
    max-width: 400px;
    padding: 15px 0;
    border: 0;
  }

  .modal__footer {
    font-style: normal;
    margin-top: 80px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.05em;
    color: #090909;
  }
}
